ENVIRONMENT = "DEV" # Use "DEV" or "PROD"
HTTP_PORT = "8080"
POSTGRES_DSN = "postgres://postgres:default@localhost:5432/lautarok_hexa?sslmode=disable"
ALLOW_ORIGINS = "http://localhost:3000"
ALLOW_METHODS = "OPTIONS,GET,POST,PUT,PATCH,DELETE"
ALLOW_HEADERS = "Origin,Content-Type,Accept,Authorization"
ALLOW_CREDENTIALS = 1
MAX_AGE_HOURS = 12